#########################################################
##   Ignoring pycache folders and its subdirectory   ##
#########################################################

__pycache__/
*.pyc
*.vscode
mlat_env

###########################################
##   Ignoring specific file types; csv   ##
###########################################
*.csv
