#########################################################
##   Ignoring pycache folders and its subdirectory   ##
#########################################################

**/__pycache__/*
__pycache__/*
__pycache__/